.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--luke-size), 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 1rem;
    justify-items: center;
    padding: 1rem 2rem 10rem;
    max-width: 60rem;
    margin: 0 auto;
}


.header {
    text-align: center;
    margin: 1.5rem auto 4rem;

    & h1 {
        font-size: min(5rem, 15vmin);
        margin-bottom: 1rem;
        word-break: break-word;
    }

    & span {
        font-size: 1.8rem;
        font-family: "Lobster Two", cursive;
        letter-spacing: 0.15em;
    }
}